@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Deneme Title</title>
</head>
<body>
    <div>Deneme Layout page</div>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
